DB_HOST=127.0.0.1
DB_PORT=3308
DB_USER=walter
DB_PASSWORD=walter1234
DB_NAME=walter
JWT_SECRET=cambia_este_secreto
PORT=3000
CLIENT_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
